*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  align-items: center;
  text-align: center;
}

.App{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.start--screen{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  gap: 10px;
}

.start--text{
  font-size: 5rem;
}

.start--button{
  height: 65px;
  width: 200px;
  color: white;
    background-color: #4D5B9E;
    margin-top: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .start--button:active{
    box-shadow: inset 1px 1px 10px #333;
}

.rightblob{
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;
}

.leftblob{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
}

.questions--main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  /* width: 800px; */
  width: 100%;
  height: 100%;
  background-color: #F5F7FB;
}

.questions--container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 85vh;
  margin: auto;
  color: #293264;
  z-index: 1;
}

.question--title{
  font-size: 1.7rem;
  font-family: 'Karla', sans-serif;
}

.questions--button-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.questions--answer-button{
  border-radius: 3px;
  margin-right: 15px;
  margin-top: 25px;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
}

.check--answer-button{
  color: white;
  background-color: #4D5B9E;
  font-weight: bold;
  margin-top: 5px;
}

.score{
  color: #293264;
  font-weight: bolder;
  font-size: 1.4rem;
}


.check--answer-button:active{
  box-shadow: inset 1px 1px 10px #333;
}


.targeted{
 background-color: #D6DBF5;
}

.rightStyles{
  width: 468px;
  position: absolute;
  right: 0;
  z-index: 0;
}

.leftStyles{
  width: 258px;
  position: absolute;
  bottom: 0;
  z-index: 0
}


@media screen and (max-width: 800px) {
  .questions--container{
    width: 95%;
  }
}

.rightAnswer{
  background-color: #94D7A2!important;
}

.actualAnswer{
  background-color: #F8BCBC
}